    body { 
    
    background: #f6f6f6 url(../img/background.jpg);
    background-size: cover;
    font-family:'Quicksand', sans-serif;}
    
    header { 
    width: auto;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    }
    
    #logo img {
        width:200px;
        float: left;
        margin: 60px 80px;
    }
    
    #menu_principal {
        width: auto;
        height: 50px;
        float: right;
        margin-top: 85px;
        margin-bottom:30px
    }
    
    #menu_principal ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        float: left;
    }
    
    #menu_principal ul li{
        display: inline;
        font-family: 'Quicksand', sans-serif;
    }
    
    #boton_presionado {
        display: inline-block;
        padding: 10px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        background-color: #86C2FF;
        box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
        border-radius: 15px;
        margin-right: 80px;
        width: 150px;
    }
    
    .boton_activo {
        display: inline-block;
        padding: 10px;
        color: rgb(0, 0, 0);
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        background-color: #FFAD32;
        box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
        border-radius: 15px;
        margin-right: 80px;
        width: 150px;
        transition: all 0.5s ease-out;
    }
    
    #menu_principal ul li a:hover {
        color: rgb(255, 255, 255);
        background-color:#86C2FF;
        border-radius: 10px;
    }
    

   img {
       max-width: 100%;
   }

   h1 {
    font-size: 49px;
    font-weight: bold;
    width: 100%;
    margin-left:60px;
    }

    .subtitulo {
        font-size: 49px;
        font-weight: bold;
        width: 100%;
        margin-left:60px; 
    }
   
   
   .grilla {
       max-width: auto;
       width: 95%;
       margin: 0 auto;
   }
   
    .fotos_cat img {
       border-radius: 20px;
   }

   #proto {
    margin-top:60px;
    height:1200px;
}

#figma {
margin-left:60px;
height:1050px;
width:500px;
display:block;
margin:0 auto;
}

footer {
    width: 280px;
    height: 130px;
    background-color: #FFAD32;
    color: #fff;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 20px; 
    margin: 0 auto; 
    margin-bottom:50px;
}

#texto_footer {
    font-size: 16px;
    text-align: center;
    font-weight: none;
    padding:15px;
    margin-top:40px;
}

#redes {
    width: auto;
    height: auto;
    margin-top: 5px;
    margin-bottom:30px;
}

#redes ul {
    padding: 0;
}

#redes ul li{
    display: inline-block;
    margin-left:30px;
    margin-right:30px;
}

#redes ul li a {
    text-decoration: none;
}

#redes ul li a:active {
    text-decoration: none;
}

#redes ul li a:visited {
    text-decoration: none;
    color:#f6f6f6
}

   @media (min-width: 480px) {
       .grilla {
           display: grid;
           grid-template-columns: repeat(3, 1fr);
           column-gap: 0.5rem;
       }
   }